
@media screen and (max-width: 375px) {
  .header{
      font-size: 13pt;
      height: 50px;
  }
  .inside header {
      width: 100%;
      z-index: 1000;
  }
  #maincontent {
      align-items: center;
      justify-content: center;
  }
  .filter-options {
      width: 100%;
      flex-direction: column;
      justify-content: center;
  }
  .filter-and-list {
    width: 100%;
    justify-content: center;
  }
  .filter-wrapper {
      width: 90%;
      flex-direction: column;
      justify-content: center;
  }
  .filter-options h2 {
      font-size: 11pt;
      text-align: center;
      justify-content: center;
      width: 100%;
      align-items: center;
  }
  #neighborhoods-select, #cuisines-select{
      font-size: 9pt;
      justify-content: center;
      flex-direction: column;
      width: 80%;
      margin-left: 10%;
  }
  .restaurant-img {
      max-width: 336px;
      max-height: 300px;
  }
  .restaurant-wrap h1{
      font-size: 10pt;
  }
  .restaurant-wrap p{
      font-size: 8pt;
  }
  #restaurants-list {
      flex-direction: column;
  }
  #footer {
      height: 50px;
      font-size: 8pt;
      letter-spacing: 1px;
      padding: 15px 0px 15px 0px;
  }
  
  /*Restaurant Detail Page */
  .detail-map, #map-container {
      height: 300px;
  }
  .detail-map, #map {
      background-color: white;
      height: 300px;
  }
  #restaurant-container {
      flex-direction: column;

  }
  #restaurant-name {
      padding: 15px 0 15px 0;
  }
  #restaurant-cuisine, #restaurant-address {
      font-size: 11pt;
  }
  #reviews-container {
      flex-direction: column;
  }
  .reviewer-name {
      font-size: 14px;
  }
}

@media screen and (min-width: 376px) {
    .header {
        font-size: 25pt;
        height: 100px;
    }
    #maincontent {
        justify-content: center;
    }
    #map-container {
        margin: 20px 0px 20px 0px;
    }
    .filter-options {
        justify-content: center;
        height: 80px;
    }
    .filter-wrapper {
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .filter-and-list {
        flex-wrap: wrap;
        width: 100%;
    }
    .filter-options h2 {
        font-size: 12pt;
        width: 33%;
        margin: auto;
    }
    #neighborhoods-select,#cuisines-select {
        flex-wrap: wrap;
        width: 33%;
        font-size: 11pt;
        margin: auto;
    }
    #restaurants-list {
        flex-direction: column;
    }
    .restaurant-wrap h1{
        font-size: 13pt;
    }
    .restaurant-wrap p{
        font-size: 12pt;
    }
    .restaurant-wrap a {
        font-size: 12pt;
    }
    #footer {
        height: 100px;
        font-size: 13pt;
        letter-spacing: 1px;
        padding: 15px 0px 15px 0px;
    }
      /*Restaurant Detail Page */
    #reviews-container {
        flex-direction: column;
        width: 95%;
    }
    #restaurant-img {
        width: 95%;
    }
}

@media screen and (min-width: 768px) {
    #map-container {
        margin: 20px 0px 20px 0px;
    }
    .filter-options h2 {
        font-size: 20pt;
    }
    #neighborhoods-select,#cuisines-select {
        font-size: 18pt;
    }
    #restaurants-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #restaurants-list li{
        width: 45%;
    }
 /*Restaurant Detail Page */
    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #restaurant-hours {
        width: 46%;
    }
    #reviews-list {
        flex-direction: row;
        width: 100%;
        align-items: initial;
    }
    .individual-review {
        width: 45%;
        margin: 7px;
    }
}