
@media screen and (max-width: 320px) {
  .header {
      font-size: 13pt;
      height: 50px;
  }
  /*#maincontent{
      width:100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }*/
  .filter-options h2 {
      font-size: 11pt;
  }
  #neighborhoods-select {
      font-size: 9pt;
  }
  #cuisines-select {
      font-size: 9pt;
  }
  .restaurant-img {
      max-width: 300px;
      max-height: 300px;
  }
  .restaurant-wrap h1{
      font-size: 10pt;
  }
  .restaurant-wrap p{
      font-size: 8pt;
  }

}